body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#container--Home{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

#container--Home * {
    box-sizing: border-box;
}

.form {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}

.form div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form div label {
    padding: 8px;
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}

.form > div > label {
    flex: 1 0 120px;
    max-width: 220px;
}

.form > div > label + *{
    flex: 1 0 220px;
}

.form div input, select {
    padding: 15px;
    margin-top: 15px;
    -webkit-appearance:none;
    background-color: white;
}

.form div button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: .09em;
    border-radius: 2px;
    margin-top: 15px;
}

.errors {
    width:100%;
    display: block;
    color: red;
    padding-left:28%;
    padding-top: 15px;
}

.toaster-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
	height: 63px;
	border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
	background-color: #6c7880;

    font-family: HelveticaNeue-LightItalic;
	font-size: 14px;
	line-height: 0.8;
	color: #ffffff;
    z-index: 100000;
}

.toaster-message {
    margin: 25px;
}

.details {
    border: 1px solid grey;
    margin-top: 25px;
}

.dropdown {
    position: relative;
}

.dropdown:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 33px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #333;
}
